h2{
    text-align: center;
    font-size: 40px;
    background-color: brown;
}

.cl1{
    border: 6px solid blue;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 20px;
    margin: 30px;
    width: 50%;
    margin: 0 auto;


}


